$def with(message)
<h3>
    <a href="/users">Users</a>
</h3>
$if message != None:
    <div class="alert alert-danger">
        <strong>Warning: </strong> $message
    </div>

<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="csv_file">CSV File</label>
        <input type="file" class="form-control" id="csv_file" name="csv_file" />
    </div>
    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control">
            <span class="glyphicon glyphicon-import"></span> Import</button>
    </div>
</form>