$def with(users)
<h3>
    <a href="/users">Users</a>
</h3>
<a href="/users/printer"><span class="glyphicon glyphicon-print"></span>Print version</a>

<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>User Name</th>
        <th>User</th>
        <th>Status</th>
        <th>Privilege</th>
        <th>Updated</th>
        <th>Options</th>
    </thead>
    <tbody>
        $for item in users:
        <tr>
            <td><a href='/users/view/$item.user'>$item.username</a></td>
            <td><a href='/users/view/$item.user'>$item.user.split('!')[0]</a></td>
            $if item.status == 0:
                <td>Disabled</td>
            $else:
                <td>Enabled</td>

            $if item.privilege == 0:
                <td>Admin</td>
            $else:
                <td>Guess</td>

            <td>$item.created</td>
            <td>
                <a href='/users/edit/$item.user'><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a href='/users/delete/$item.user'><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>