$def with(logs)
<h3>
    <a href="/logs">Logs</a>
</h3>
<table id="datos_imprimir" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>No</th>
        <th>User</th>
        <th>Date</th>
        <th>IP</th>
    </thead>
    <tbody>
        $ i = 1
        $for item in logs:
        <tr>
            <td>$i</td>            
            $ i = i + 1
            <td><a href='/logs/view/$item.user'>$item.user.split('!')[0]</a></td>
            <td><a href='/logs/view/$item.user'>$item.access</a></td>
            <td><a href='/logs/view/$item.user'>$item.ip</a></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>